<mat-toolbar>Mr. Tran Homepage</mat-toolbar>
<div class="home">
    <a href="chemistry">
        <mat-card class="chem">
            <mat-card-header>
                <div mat-card-avatar class="chemPhoto"></div>
                <mat-card-title>Chemistry</mat-card-title>
                <mat-card-subtitle>CP Level</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image class="imgs"
                src="https://media.istockphoto.com/id/1349554674/photo/collection-of-medical-flasks-on-a-blue-background-science-glass-flask-blue-chemistry.jpg?b=1&s=170667a&w=0&k=20&c=EgqUHf2Qhi-Ug-8G9nvqs1viOdTpXig5giTMayki7W0="
                alt="Photo of a Shiba Inu">
            <mat-card-content>
                <p>
                    The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                    A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                    bred for hunting. 
                </p>
            </mat-card-content>
           
        </mat-card>
    </a>
    <a href="biology">
        <mat-card class="chem">
            <mat-card-header>
                <div mat-card-avatar class="chemPhoto"></div>
                <mat-card-title>Biology</mat-card-title>
                <mat-card-subtitle>CP Level</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image class="imgs"
                src="https://media.istockphoto.com/id/1297202819/photo/corona-virus-covid-19-dna-illustration.jpg?b=1&s=170667a&w=0&k=20&c=WI3JFMh8Z_yD2vA0qbUa78yhVaettvcz2nkd5CuoG8k="
                alt="Photo of a Shiba Inu">
            <mat-card-content>
                <p>
                    The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                    A small, agile dog that copes very wedsfall with mountainous terrain, the Shiba Inu was originally
                    bred for hunting.
                </p>
            </mat-card-content>

        </mat-card>
    </a>
</div>
